body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* background-image: url("../public/home-bg.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

a {
  text-decoration: none;
  /* color: grey; */
  font-weight: 700;
}

h1 {
  font-weight: bolder;
  font-size: 2em;
  line-height: 1.5;
}

h2 {
  font-weight: bolder;
  font-size: 1.7em;
}

h3 {
  font-weight: bolder;
  font-size: 1.4em;
}

h4 {
  font-weight: bolder;
  font-size: 1.1em;
}

h5 {
  font-weight: bolder;
  font-size: 0.9em;
}

p {
  font-size: large;
  line-height: 1.6;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  /* width: 150px; */
}

img:hover {
  box-shadow: 0 0 2px 1px rgb(35, 116, 229);
}

.brand-text {
  font-weight: bold;
}

.navbar {
  min-height: 75px;
}

.navbar-toggler {
  padding: 1px 3px !important;
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}
.select-item select {
  background-size: contain !important;
  background-size: 20px;
}

.nav-container {
  padding: 0 !important;
}

.main-container {
  text-align: center;
  margin-top: 60px;
  padding: 0 0%;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
}

/* .toggle-tabs {
  margin: 2% 2% 0;
} */

.action-zone {
  /* border-color: grey; */
  /* border-style: solid; */
  /* border-width: 1px; */
  border-radius: 10px;
  box-shadow: 0 0 0.25em rgba(67, 71, 85, 0.27), 0 0.25em 1em rgb(90 125 188/5%);
}

@media screen and (max-width: 900px) {
  .action-zone {
    border-radius: 10px;
    box-shadow: none;
  }
}
.slogan {
  color: rgb(65, 66, 66);
}
.content-display {
  /* border: 1px solid grey; */
  box-shadow: 0 0 0.25em rgba(67, 71, 85, 0.27), 0 0.25em 1em rgb(90 125 188/5%);
  border-radius: 10px;
  text-align: center;
  padding: 1% 0;
  margin: 0% 1%;
}
@media screen and (max-width: 900px) {
  .content-display {
    /* border: 1px solid grey; */
    box-shadow: 0 0 0.25em rgba(67, 71, 85, 0.27),
      0 0.25em 1em rgb(90 125 188/5%);
    border-radius: 10px;
    text-align: center;
    padding: 0% 0;
    margin: 0% 0%;
  }
}

.content-details {
  padding: 0 1%;
  text-align: center;
}
.book-description {
  /* border: 1px solid grey; */
  box-shadow: 0 0 0.25em rgba(67, 71, 85, 0.27), 0 0.25em 1em rgb(90 125 188/5%);
  border-radius: 5px;
  text-align: left;
  margin: 1% 0;
  padding: 2% 2%;
  max-height: 228px;
  overflow: auto;
  overflow-x: hidden;
}

.text-snippet {
  /* border: 1px solid grey; */
  box-shadow: 0 0 0.25em rgba(67, 71, 85, 0.27), 0 0.25em 1em rgb(90 125 188/5%);
  border-radius: 5px;
  text-align: left;
  margin: 1% 0;
  padding: 2% 2%;
  max-height: 140px;
  overflow: auto;
  overflow-x: hidden;
}

.book-cover {
  padding: 0% 1%;
}
.book-cover-img {
  max-height: 450px;
  max-width: 95%;
  /* border: 1px solid grey; */
  box-shadow: 0 0 0.25em rgba(67, 71, 85, 0.27), 0 0.25em 1em rgb(90 125 188/5%);
  border-radius: 5px;
  margin-bottom: 2%;
  margin-top: 1%;
}

.book-detail {
  text-align: left;
  max-height: 450px;
  /* max-width: 92%; */
}
.explanation {
  padding: 0 0%;
  text-align: left;
  color: rgb(65, 66, 66);
  margin-bottom: 2%;
}
.offcanvas {
  width: 70% !important;
}

.footer-container {
  margin-top: auto;
  background-color: whitesmoke;
}
.icon {
  font-size: 20px;
}
.copyright {
  text-align: center;
}
/* .copyright p {
  margin-bottom: 0;
} */

.nav-item-category {
  width: 20% !important;
}

@media screen and (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 3px;
  }
}

@media screen and (min-width: 480px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(218, 220, 223, 0.997);
  border-radius: 2px;
}

.universal-description {
  text-align: left;
  margin: 1% 0;
  padding: 2% 2%;
}

.active {
  font-weight: 500;
}
